<div class="row">
  <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
    <div class="card">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-6 text">Product List</div>
          <div class="col-6 text-end">
            <button class="btn btn-sm btn-success" (click)="openSIdePanel()">
              New
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div *ngIf="productsList?.length === 0">No products found</div>
          <div class="col-3" *ngFor="let product of productsList">
            <div *ngIf="product.images && product.images.length">
              <div class="card">
                <img class="card-img-top" style="height: 25rem;" [src]="product.images[0]" alt="Product Image" />
                <div class="card-body">
                  <h4 class="card-title">{{ product.title }}</h4>
                  <a class="btn btn-primary">See more</a>
                  <a class="btn btn-primary" (click)="onEdit(product)">Edit</a>
                  <a class="btn btn-primary" (click)="onDelete(product.id)">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-4" *ngIf="isSidePanelVisible">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6">New Product</div>
          <div class="col-6 text-end">
            <button class="btn btn-sm btn-secondary" (click)="closeSidePanel()">
              close
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- <app-search-bar></app-search-bar> -->
        <div class="container mt-4">
          <h2 class="mb-3">Add new product</h2>

          <form [formGroup]="addProductForm" (ngSubmit)="submitProduct()" class="row g-3">
            <div class="col-md-6">
              <label class="form-label">Product Title:</label>
              <input type="text" class="form-control" formControlName="title" required />
            </div>
          
            <div class="col-md-6">
              <label class="form-label">Description:</label>
              <input type="text" class="form-control" formControlName="description" required />
            </div>
          
            <div class="col-md-4">
              <label class="form-label">Price:</label>
              <input type="number" class="form-control" formControlName="price" required />
            </div>
          
            <div class="col-md-4">
              <label class="form-label">Percentage:</label>
              <input type="number" class="form-control" formControlName="discountPercentage" />
            </div>
          
            <div class="col-md-4">
              <label class="form-label">Rating:</label>
              <input type="number" class="form-control" formControlName="rating" step="0.1" />
            </div>
          
            <div class="col-md-6">
              <label class="form-label">Stock:</label>
              <input type="number" class="form-control" formControlName="stock" />
            </div>
          
            <div class="col-md-6">
              <label class="form-label">Brand:</label>
              <input type="text" class="form-control" formControlName="brand" />
            </div>
          
            <div class="col-md-6">
              <label class="form-label">Category:</label>
              <select class="form-select" formControlName="category">
                <option value="mens">Men's Fragrance</option>
                <option value="womens">Women's Fragrance</option>
                <option value="unisex">Unisex Fragrance</option>
                <option value="luxury">Luxury Perfumes</option>
                <option value="fresh">Fresh & Citrus Scents</option>
                <option value="woody">Woody & Spicy Fragrances</option>
                <option value="floral">Floral Fragrances</option>
              </select>
            </div>
          
            <div class="col-md-6">
              <label class="form-label">Thumbnail Image:</label>
              <input type="text" class="form-control" formControlName="thumbnail" />
            </div>
          
            <div class="col-md-12">
              <label class="form-label">Other Images (comma-separated URLs):</label>
              <input type="text" class="form-control" formControlName="imageInput" />
            </div>
          
            <div class="col-12">
              <button type="submit" class="btn btn-primary" [disabled]="addProductForm.invalid">
                {{ isEditMode ? 'Save Changes' : 'Add Product' }}
              </button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>
